/* Ensure body takes full height */
body {
    background: url(../homepage/images/main.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(0.8rem);
}

/* Center dashboard content vertically */
.dashboard-content {
    max-width: 50%;
    max-height: fit-content;
    margin: auto; /* This will center the content horizontally */
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    text-align: center;
    flex: 1; /* Ensures this section grows to fill the space between header and footer */
    display: flex; /* Use flexbox for vertical centering */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically */
}

/* Footer styling */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    bottom: 0;
    flex-shrink: 0;
}

footer .col {
    margin-bottom: 1rem;
}

footer a {
    color: white;
    margin-right: 2rem;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin: 0;
    font-size: 0.8rem;
}

h2 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.request-change, .request-history {
    margin-top: 2rem;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

select, textarea, input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    padding: 0.8rem 2rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table th, table td {
    padding: 1rem;
    border: 1px solid #ddd;
}

table th {
    background-color: var(--primary-color);
    color: white;
}

/* Request Section Styles */
.request-section {
    display: none; /* Initially hidden, shown based on selection */
}
